@model Nop.Plugin.Widgets.EasyComTecWhatsapp.Models.ConfigurationModel
@{
    Layout = "_ConfigurePlugin";
}

@await Component.InvokeAsync("StoreScopeConfiguration")

<form asp-controller="Whatsapp" asp-action="Configure" method="post">
    <div class="form-group">
        <div class="col-md-3">
            <nop-override-store-checkbox asp-for="Phone" asp-input="Phone" />
            <nop-label asp-for="Phone" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="Phone" />
            <span asp-validation-for="Phone"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <nop-override-store-checkbox asp-for="Message" asp-input="Message" />
            <nop-label asp-for="Message" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="Message" />
            <span asp-validation-for="Message"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-9 col-md-offset-3">
            <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
        </div>
    </div>
</form>